<h1>Dem Blocks</h1>

<div>
  <a href="/payments/new">Make a Payment</a>
</div>

<ul>
  <% @blocks.each_with_index do |b,i| %>
  <li>
    <p>Block: <a href="/blocks/<%= b["header"]["hash"] %>"><%= b["header"]["hash"] %></a></p>
    <p>Transactions: <%= b["transactions"].count %></p>
    <% t1 = Time.at(b["header"]["timestamp"].to_i / 1000) %>
    <p>Time: <%= t1.strftime("%b %e, %l:%M %p")%> (<%= b["header"]["timestamp"] / 1000 %>)</p>
    <p>Time Spread: <%= @splits[i] %></p>
  </li>
  <% end %>
</ul>
